

div#general{
    margin: auto;
    width: 100%;
    height: 1000px;
    background-color: aqua;
}
 div#main{
    margin-right: 15px;
    width: 900px;
    height: 600px;
    background-color: black;
 }
div#aside{
    float: right;
    width: 400px;
    height: 600px;
    background-color: green;
}
div#footer{
    margin-top: 9.5px;
    width: 100%;
    height: 100px;
    background-color: blue;
}